{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ul id="calc-tabs" class="nav nav-tabs">
    <li class="active"><a href="#tabs-input" data-toggle="tab">Input</a></li>
    <li><a href="#tabs-stats" data-toggle="tab">Stats</a></li>
    <li><a href="#tabs-spells" data-toggle="tab">Shots/Abilities</a></li>
    <li><a href="#tabs-single" data-toggle="tab">Single target</a></li>
    <li><a href="#tabs-aoe" data-toggle="tab">AoE</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tabs-input">
      <div class="row">
        <div class="col-md-5">
          <h3>Enter Stats:</h3>
          <form action="{% url 'hunter:calc' %}" method="post" id="hunter-form">
            {% csrf_token %}
            <table class="table">
              {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success">
              Shoot
              <span class="glyphicon glyphicon-screenshot"></span>
            </button>
          </form>
        </div>
        
        <div class="col-md-2" id="vertical-banner">
          <img class="center" src="{% static "hunter/shoot.png" %}" />
        </div>
        
        <div class="col-md-5">
          <h3>Armory Import:</h3>
          <form action="{% url 'hunter:armory_process' %}" method="post">
            {% csrf_token %}
            <table class="table">
              {{ armory.as_table }}
              <tr>
                <th>Item Squish</th>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
              </tr>
            </table>
            <button type="submit" class="btn btn-success">
              Shoot
              <span class="glyphicon glyphicon-screenshot"></span>
            </button>
          </form>
        </div>
      </div>
      
      {% if totals %}
        <h3>DPS: <span class="badge">{{ totals.dps }}</span></h3>
        <p>Please use the other tabs for more detailed results</p>
      {% else %}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Warning</h3>
          </div>
          <div class="panel-body">
            Results not yet calculated - hit the "Shoot" button
          </div>
        </div>
      {% endif %}
    </div>
          
    <div class="tab-pane fade" id="tabs-stats">
      <div class="panel panel-info">
        <div class="panel-heading">
        <h3 class="panel-title">Note</h3>
        </div>
        <div class="panel-body">The 'total' for each stat excludes procs.</div>
      </div>
      {% if not stattable %}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Warning</h3>
          </div>
          <div class="panel-body">
            Results not yet calculated - hit the "Shoot" button
          </div>
        </div>
      {% endif %}
      {% for statgroup in stattable %}
        <div class="row">
          {% for stat in statgroup %}
            {% if stat %}
            <div class="col-sm-4">
              <div class="panel-hunter panel">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ stat.title }}</h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    {% for component in stat.components %}
                      <tr>
                        <th>
                          {% if component.description %}
                            <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                               title="{{ component.description }}">
                              {{ component.title }}
                            </a>
                          {% else %}
                            {{ component.title }}
                          {% endif %}
                        </th>
                        <td>{{ component.value }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <th>
                        {% if stat.description %}
                          <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                             title="{{ stat.description }}">Total</a>
                        {% else %}
                          Total
                        {% endif %}
                      </th>
                      <td>{{ stat.total }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  
    <div class="tab-pane fade" id="tabs-spells">
      {% if not spelltable %}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Warning</h3>
          </div>
          <div class="panel-body">
            Results not yet calculated - hit the "Shoot" button
          </div>
        </div>
      {% endif %}
      {% for spellgroup in spelltable %}
        <div class="row">
          {% for spell in spellgroup %}
            {% if spell %}
              <div class="col-sm-4">
                <div class="panel-hunter panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ spell.name }}</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      {% for attr in spell.attributes %}
                        {% if attr.value %}
                          <tr class="{{ attr.klass }}">
                            <th>
                              {% if attr.description %}
                                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                                  title="{{ attr.description }}">
                                  {{ attr.title }}
                                </a>
                              {% else %}
                                {{ attr.title }}
                              {% endif %}
                            </th>
                            <td>
                              {% if attr.title == 'Damage' %}
                                 <span class="badge">{{ attr.value }}</span>
                              {% else %}
                                 {{ attr.value }}
                              {% endif %}
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    
    <div class="tab-pane fade" id="tabs-single">
      {% if totals %}
        <div class="col-lg-13">
          <a href="#" target="_blank" class="btn btn-primary btn-lg" id="full-model">View Model</a> -
          view a full model of all abilities in action.
          <span class="text-danger">WARNING: this is a lot of data and can take awhile to load!</span>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h3>Totals</h3>
            <table class="table" id="totals_table">
              <tr>
                <th>DPS:</th>
                <td class="totals_column"><span class="badge">{{ totals.dps }}</span></td>
              </tr>
              <tr>
                <th>Damage:</th>
                <td class="totals_column">{{ totals.damage }}</td>
              </tr>
              <tr>
                <th>Time:</th>
                <td class="totals_column">{{ totals.time|stringformat:".02f" }}</td>
              </tr>
            </table>
          </div>
            
          <div class="col-md-5">
            <h3>Ability Counts</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Ability</th>
                  <th class="totals_column">Count</th>
                  <th class="totals_column">Damage</th>
                  <th class="totals_column">%</th>
                </tr>
              </thead>
              {% for shot in totals.shots %}
                <tr>
                  <th>{{ shot.name }}:</th>
                  <td class="totals_column">{{ shot.counter }}</td>
                  <td class="totals_column">{{ shot.total|stringformat:"0.2f" }}</td>
                  <td class="totals_column">{{ shot.percent|stringformat:"0.2f" }}%</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      {% else %}
        <p>Submit the form to calculate single target DPS</p>
      {% endif %}
      <br/>
      <br/>
    </div>
    
    <div class="tab-pane fade" id="tabs-aoe">
      NYI
    </div>
    
   <script type="text/javascript">
     url = "/hunter/model?" + $('#hunter-form').serialize();
     $('#full-model').attr('href',url);
   </script>

  </div>
{% endblock %}