{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <ul id="calc-tabs" class="nav nav-tabs">
    <li class="active"><a href="#tabs-input" data-toggle="tab">Input</a></li>
    <li><a href="#tabs-stats" data-toggle="tab">Stats</a></li>
    <li><a href="#tabs-procs" data-toggle="tab">Procs</a></li>
    <li><a href="#tabs-spells" data-toggle="tab">Shots/Abilities</a></li>
    <li><a href="#tabs-single" data-toggle="tab">Single target</a></li>
    <li><a href="#tabs-aoe" data-toggle="tab">AoE</a></li>
    <li><a href="#tabs-scaling" data-toggle="tab">Scaling</a></li>
  </ul>
  <div id="calc-body">
  
    <div class="row" id="dps-header">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% if notfound %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Warning</h3>
            </div>
            <div class="panel-body">
              Character not found: {{ notfound }}
            </div>
          </div>
        {% endif %}
        {% if totals %}
          <span id="dps" class="badge">DPS: {{ totals.dps }}</span>
            {% if totals.diff_success == "success" %}
              <small class="text-success">(+{{ totals.diff }})</small>
            {% else %}
              <small class="text-warning">(-{{ totals.diff }})</small>
            {% endif %}
          <span style="padding-left: 2em;" class="text-muted">Please use the other tabs for more detailed results</span>
        {% else %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Warning</h3>
            </div>
            <div class="panel-body">
              Results not yet calculated - click "Calculate" on the input tab
            </div>
          </div>
        {% endif %}</div>
      <div class="col-md-3"></div>
    </div>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tabs-input">
        {% include "hunter/input.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-stats">
        {% include "hunter/stats.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-procs">
        {% include "hunter/procs.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-spells">
        {% include "hunter/spells.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-single">
        {% include "hunter/single.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-aoe">
        {% include "hunter/aoe.html" %}
      </div>
  
      <div class="tab-pane fade" id="tabs-scaling">
        {% include "hunter/scaling.html" %}
      </div>
  
      <script type="text/javascript">
        full_data = []
        
        function to_float(arr) {
          new_arr = []
          for (i=0;i<arr.length;i++) {
            new_arr.push(parseFloat(arr[i]))
          }
          return new_arr
        }
  
        
        //  $('#tabs-scaling .container').load( scale_url + ' #model' );
        function rename_talent7() {
          if ($('#id_spec').val() == "0") {
            $('#id_talent7 option:last').text('Adaptability');
          }
          else {
            $('#id_talent7 option:last').text('Lone Wolf');
          };
        };
  
        $('#id_spec').change(function() {
          rename_talent7();
        });
        rename_talent7(); // on load
      </script>
    </div>
  </div>
{% endblock %}