<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% load staticfiles %}
    
    <link rel="icon" href="{% static favicon.ico %}favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "hunter/hunter.css" %}" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <title>Hunter Tools</title>
  </head>
  
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Esoth's Hunter Tools</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/hunter">Spreadsheet</a></li>
            <li><a href="http://twitter.com/esoth">Contact</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid" id="main-body">
      <div class="row">
        <div class="col-md-5">
          <h3>Enter Stats:</h3>
          <form action="{% url 'hunter:calc' %}" method="post">
            {% csrf_token %}
            <table class="table">
              {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success">
              Shoot
              <span class="glyphicon glyphicon-screenshot"></span>
            </button>
          </form>
        </div>
        
        <div class="col-md-2" id="vertical-banner">
          <img class="center" src="{% static "hunter/shoot.png" %}" />
        </div>
        
        <div class="col-md-5">
          <h3>Armory Import:</h3>
          <form action="{% url 'hunter:armory_process' %}" method="post">
            {% csrf_token %}
            <table class="table">
              {{ armory.as_table }}
              <tr>
                <th>Item Squish</th>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
              </tr>
            </table>
            <button type="submit" class="btn btn-success">
              Shoot
              <span class="glyphicon glyphicon-screenshot"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="container">
      <ul id="calc-tabs" class="nav nav-tabs">
        <li><a href="#tabs-stats" data-toggle="tab">Stats</a></li>
        <li class="active"><a href="#tabs-spells" data-toggle="tab">Shots/Abilities</a></li>
        <li><a href="#tabs-dps" data-toggle="tab">DPS</a></li>
        <li><a href="#tabs-single" data-toggle="tab">Single target</a></li>
        <li><a href="#tabs-aoe" data-toggle="tab">AoE</a></li>
      </ul>
      
      <div class="tab-content">        
        <div class="tab-pane fade" id="tabs-stats">
          <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title">Note</h3>
            </div>
            <div class="panel-body">The 'total' for each stat excludes procs.</div>
          </div>
          {% if not stattable %}not yet calculated...{% endif %}
          {% for stat in stattable %}
            <div class="col-sm-4">
              <div class="panel-hunter panel">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ stat.title }}</h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    {% for component in stat.components %}
                      <tr>
                        <th>
                          {% if component.description %}
                            <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                               title="{{ component.description }}">
                              {{ component.title }}
                            </a>
                          {% else %}
                            {{ component.title }}
                          {% endif %}
                        </th>
                        <td>{{ component.value }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <th>
                        {% if stat.description %}
                          <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                             title="{{ stat.description }}">Total</a>
                        {% else %}
                          Total
                        {% endif %}
                      </th>
                      <td><span class="badge">{{ stat.total }}</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      
        <div class="tab-pane fade in active" id="tabs-spells">
          {% if not spelltable %}not yet calculated...{% endif %}
          {% for spell in spelltable %}
            <div class="col-sm-4">
              <div class="panel-hunter panel">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ spell.name }}</h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    {% for attr in spell.attributes %}
                      {% if attr.value %}
                        <tr class="{{ attr.klass }}">
                          <th>
                            {% if attr.description %}
                              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                                title="{{ attr.description }}">
                                {{ attr.title }}
                              </a>
                            {% else %}
                              {{ attr.title }}
                            {% endif %}
                          </th>
                          <td>
                            {% if attr.title == 'Damage' %}
                               <span class="badge">{{ attr.value }}</span>
                            {% else %}
                               {{ attr.value }}
                            {% endif %}
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        
        <div class="tab-pane fade" id="tabs-dps">
          <h3>Totals</h3>
          <table class="table" id="totals_table">
            <tr>
              <th>DPS:</th>
              <td><span class="badge">{{ totals.dps }}</span></td>
            </tr>
            <tr>
              <th>Damage:</th>
              <td><span class="badge">{{ totals.damage }}</span></td>
            </tr>
            <tr>
              <th>Time:</th>
              <td><span class="badge">{{ totals.time }}</span></td>
            </tr>
          </table>
          
          <h3>Ability Counts</h3>
          <table class="table">
            {% for shot,count in totals.shot_counts.items %}
              <tr>
                <th>{{ shot }}:</th>
                <td>{{ count }}</td>
              </tr>
            {% endfor %}
          </table>          
        </div>
        
        <div class="tab-pane fade" id="tabs-single">
          <table class="table" id="dps_table">
            <tr>
              <th colspan="9">Performance</th>
              <th colspan="{{ meta.cds|length }}">Cooldowns</th>
              <th colspan="{{ meta.states|length }}">States</th>
              <th colspan="{{ meta.conditions|length }}">Conditions</th>
            </tr>
            <tr>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Total time">
                  TT
                </a>
              </th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Iteration">
                  #
                </a>
              </th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Starting Focus">
                  SF
                </a>
              </th>
              <th>Ability Cast</th>
              <th>Damage</th>
              <th>Time</th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Focus - passive gains/costs">
                  FP
                </a>
              </th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Focus - active gains/costs">
                  FA
                </a>
              </th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                  title="Damage modifiers from buffs/debuffs/procs">
                  Mods
                </a>
              </th>
              {% for cd in meta.cds %}
                <th>{{ cd }}</th>
              {% endfor %}
              {% for state in meta.states %}
                <th>{{ state }}</th>
              {% endfor %}
              {% for condition in meta.conditions %}
                <th>
                  <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                    title="{{ condition.title }}">
                    {{ condition.id }}
                  </a>
                 </th>
              {% endfor %}
            </tr>
            {% for action in single %}
              <tr>
                <td class="totaltime">{{ action.action.totaltime }}</td>
                <td>{{ action.action.iteration }} </td>
                <td>{{ action.action.starting_focus }}</td>
                <td class="ability_rotation {{ action.action.actionid|slugify }}_rotation">{{ action.action.actionid }}</td>
                <td class="damage">{{ action.action.dmg }}</td>
                <td>{{ action.action.time }}</td>
                <td>{{ action.action.focus_passive }}</td>
                <td>{{ action.action.focus_active }}</td>
                <td>{{ action.action.modifiers }}</td>
                {% for cd in action.cds %}
                  <td class="cooldown">
                    <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                      title="{{ cd.actionid }} CD">
                      {% if cd.cdtime <= 0 %}
                          ready
                      {% else %}
                        {{ cd.cdtime }}
                      {% endif %}
                    </a>
                  </td>
                {% endfor %}
                {% for state in action.states %}
                  <td class="state">
                    <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                      title="{{ state.state_id }} State - duration: {{ state.duration }}, stacks:
                             {{ state.stacks }}, damage: {{ state.damage_modifier }},
                             haste: {{ state.time_modifier }}, focus %: {{ state.focus_modifier }}">
                      {{ state.active }}
                    </a>
                  </td>
                {% endfor %}
                {% for condition in action.conditions %}
                  <td class="condition">
                    {{ condition }}
                  </td>
                {% endfor %}                
              </tr>
            {% endfor %}
          </table>
                
        </div>
        
        <div class="tab-pane fade" id="tabs-aoe">
          NYI
        </div>
        
      </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <p class="muted credit">2014, by Esoth</p>
      </div>
    </div>
    
    <script type="text/javascript">
      $('.step-tooltip').tooltip();
      $('.step-tooltip').css('cursor','pointer');
    </script>
  </body>
</html>