{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
  
    <h1>Gear test page</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Item</th>
          <th>Agi</th>
          <th>Crt</th>
          <th>Hst</th>
          <th>Mas</th>
          <th>Mst</th>
          <th>Ver</th>
          <th>Boss/Source</th>
          <th>Zone</th>
        </tr>
      </thead>
      <tbody>
        {% for slot in slots %}
          <tr id="{{ slot.id }}_row">
            <td>
              <label for="id_{{ slot.id }}">
                {% if slot.small %}<small>{{ slot.name }}</small>{% else %}
                {{ slot.name }}{% endif %}
              </label></td>
            <td>{{ slot.form }}</td>
            <td id="{{ slot.id }}_agility"></td>
            <td id="{{ slot.id }}_crit"></td>
            <td id="{{ slot.id }}_haste"></td>
            <td id="{{ slot.id }}_mastery"></td>
            <td id="{{ slot.id }}_multistrike"></td>
            <td id="{{ slot.id }}_versatility"></td>
            <td id="{{ slot.id }}_source"></td>
            <td id="{{ slot.id }}_zone"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script type="text/javascript">
      var gear_table;
      $.getJSON("{% url "hunter:gear_table" %}", function(data) {
        gear_table = data;
      }).done(function() {
      
        function item_switch(slot,val) {
          var gear_table_val = val && gear_table[val.replace("'","\'")] || "";
          var stats = new Array("agi","crit","haste","mastery","multistrike","versatility","source","zone");
          for (i=0;i<=stats.length;i++) {
            $('#'+slot+'_'+stats[i]).html(gear_table_val[stats[i]]);
          }
        };
          
        
        $('#id_weapon').change(function() {
          var $this = $(this);
          item_switch('weapon',$this.val());
        })
        $('#id_weapon_socket1').change(function() {
          var $this = $(this);
          item_switch('weapon_socket1',$this.val());
        })
        $('#id_head').change(function() {
          var $this = $(this);
          item_switch('head',$this.val());
        })
        $('#id_head_socket1').change(function() {
          var $this = $(this);
          item_switch('head_socket1',$this.val());
        })
        $('#id_neck').change(function() {
          var $this = $(this);
          item_switch('neck',$this.val());
        })
        $('#id_neck_socket1').change(function() {
          var $this = $(this);
          item_switch('neck_socket1',$this.val());
        })
        $('#id_shoulders').change(function() {
          var $this = $(this);
          item_switch('shoulders',$this.val());
        })
        $('#id_shoulders_socket1').change(function() {
          var $this = $(this);
          item_switch('shoulders_socket1',$this.val());
        })
        $('#id_back').change(function() {
          var $this = $(this);
          item_switch('back',$this.val());
        })
        $('#id_back_socket1').change(function() {
          var $this = $(this);
          item_switch('back_socket1',$this.val());
        })
        $('#id_chest').change(function() {
          var $this = $(this);
          item_switch('chest',$this.val());
        })
        $('#id_chest_socket1').change(function() {
          var $this = $(this);
          item_switch('chest_socket1',$this.val());
        })
        $('#id_wrists').change(function() {
          var $this = $(this);
          item_switch('wrists',$this.val());
        })
        $('#id_wrists_socket1').change(function() {
          var $this = $(this);
          item_switch('wrists_socket1',$this.val());
        })
        $('#id_hands').change(function() {
          var $this = $(this);
          item_switch('hands',$this.val());
        })
        $('#id_hands_socket1').change(function() {
          var $this = $(this);
          item_switch('hands_socket1',$this.val());
        })
        $('#id_waist').change(function() {
          var $this = $(this);
          item_switch('waist',$this.val());
        })
        $('#id_waist_socket1').change(function() {
          var $this = $(this);
          item_switch('waist_socket1',$this.val());
        })
        $('#id_legs').change(function() {
          var $this = $(this);
          item_switch('legs',$this.val());
        })
        $('#id_legs_socket1').change(function() {
          var $this = $(this);
          item_switch('legs_socket1',$this.val());
        })
        $('#id_feet').change(function() {
          var $this = $(this);
          item_switch('feet',$this.val());
        })
        $('#id_feet_socket1').change(function() {
          var $this = $(this);
          item_switch('feet_socket1',$this.val());
        })
        $('#id_ring1').change(function() {
          var $this = $(this);
          item_switch('ring1',$this.val());
        })
        $('#id_ring1_socket1').change(function() {
          var $this = $(this);
          item_switch('ring1_socket1',$this.val());
        })
        $('#id_ring2').change(function() {
          var $this = $(this);
          item_switch('ring2',$this.val());
        })
        $('#id_ring2_socket1').change(function() {
          var $this = $(this);
          item_switch('ring2_socket1',$this.val());
        })
        $('#id_trinket1').change(function() {
          var $this = $(this);
          item_switch('trinket1',$this.val());
        })
        $('#id_trinket1_socket1').change(function() {
          var $this = $(this);
          item_switch('trinket1_socket1',$this.val());
        })
        $('#id_trinket2').change(function() {
          var $this = $(this);
          item_switch('trinket2',$this.val());
        })
        $('#id_trinket2_socket1').change(function() {
          var $this = $(this);
          item_switch('trinket2_socket1',$this.val());
        })
        
        item_switch('weapon',$('#id_weapon').val());
        item_switch('weapon_socket1',$('#id_weapon_socket1').val());
        item_switch('head',$('#id_head').val());
        item_switch('head_socket1',$('#id_head_socket1').val());
        item_switch('neck',$('#id_neck').val());
        item_switch('neck_socket1',$('#id_neck_socket1').val());
        item_switch('shoulders',$('#id_shoulders').val());
        item_switch('shoulders_socket1',$('#id_shoulders_socket1').val());
        item_switch('back',$('#id_back').val());
        item_switch('back_socket1',$('#id_back_socket1').val());
        item_switch('chest',$('#id_chest').val());
        item_switch('chest_socket1',$('#id_chest_socket1').val());
        item_switch('wrists',$('#id_wrists').val());
        item_switch('wrists_socket1',$('#id_wrists_socket1').val());
        item_switch('hands',$('#id_hands').val());
        item_switch('hands_socket1',$('#id_hands_socket1').val());
        item_switch('waist',$('#id_waist').val());
        item_switch('waist_socket1',$('#id_waist_socket1').val());
        item_switch('legs',$('#id_legs').val());
        item_switch('legs_socket1',$('#id_legs_socket1').val());
        item_switch('feet',$('#id_feet').val());
        item_switch('feet_socket1',$('#id_feet_socket1').val());
        item_switch('ring1',$('#id_ring1').val());
        item_switch('ring1_socket1',$('#id_ring1_socket1').val());
        item_switch('ring2',$('#id_ring2').val());
        item_switch('ring2_socket1',$('#id_ring2_socket1').val());
        item_switch('trinket1',$('#id_trinket1').val());
        item_switch('trinket1_socket1',$('#id_trinket1_socket1').val());
        item_switch('trinket2',$('#id_trinket2').val());
        item_switch('trinket2_socket1',$('#id_trinket2_socket1').val());
      });
    </script>

  </div>
{% endblock %}