{% load staticfiles %}



<ul id="input-tabs" class="nav nav-tabs">
  <li class="active"><a href="#subtabs-stats" data-toggle="tab">Gear</a></li>
  <li><a href="#subtabs-rotation" data-toggle="tab">Talents and options</a></li>
  <li>
    <button class="btn btn-primary" data-toggle="modal" data-target="#api_fetch">
      Armory Import
    </button>
    <button class="btn btn-success" data-toggle="modal" data-target="#equip_help">
      Help
    </button>

    <a id="detailsToggler" href="javascript:void(0);">[ show/hide details ]</a>
  </li>
</ul>
<div id="form-wrapper"></div>
<form method="POST" action="{% url 'hunter:calc' %}" id="hunter-form">
  <input id="lastcalc" name="lastcalc" type="hidden" value="{{ totals.dps }}" />
  <div class="tab-content" id="subtabs">
    <div class="tab-pane fade in active" id="subtabs-stats">

        {% csrf_token %}
        <table class="table">
          <thead>
            <tr>
              <th>Slot</th>
              <th>ilvl</th>
              <th>Item</th>
              <th>Context</th>
              <th>Socket</th>
              <th>
                <a class="step-tooltip" data-toggle="tooltip" data-placement="top" title="Warforged">
                 WF
                </a>
              </th>
              <th class="details">Agi</th>
              <th class="details">Crt</th>
              <th class="details">Hst</th>
              <th class="details">Mas</th>
              <th class="details">Mst</th>
              <th class="details">Ver</th>
              <th class="details">Boss/Source</th>
              <th class="details">Zone</th>
            </tr>
          </thead>
          <tbody>
            {% for slot in slots %}
              <tr id="{{ slot.id }}_row">
                <td>
                  <label for="id_{{ slot.id }}">
                    {% if slot.small %}<small>{{ slot.name }}</small>{% else %}
                    {{ slot.name }}{% endif %}
                  </label>
                </td>
                <td><span id="{{ slot.id }}_ilvl" /></td>
                <td style="width:450px">
                  <img id="icon_{{ slot.id }}" src="http://us.media.blizzard.com/wow/icons/18/inv_misc_questionmark.jpg" />
                  {{ slot.form }}
                </td>
                <td>{{ slot.difficulty }}</td>
                <td>{{ slot.socket }}</td>
                <td>{{ slot.warforged }}</td>
                <td class="details" id="{{ slot.id }}_agility">
                  <span></span>
                  <input type="hidden" name="agility[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_crit">
                  <span></span>
                  <input type="hidden" name="crit[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_haste">
                  <span></span>
                  <input type="hidden" name="haste[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_mastery">
                  <span></span>
                  <input type="hidden" name="mastery[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_multistrike">
                  <span></span>
                  <input type="hidden" name="multistrike[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_versatility">
                  <span></span>
                  <input type="hidden" name="versatility[{{ forloop.counter }}]" />
                </td>
                <td class="details" id="{{ slot.id }}_source">
                  <span></span>
                </td>
                <td class="details" id="{{ slot.id }}_zone">
                  <span></span>
                </td>
              </tr>
              {% if slot.id = "weapon" %}
                <tr>
                  <td></td>
                  <td colspan="13">
                    <label for="weapon_min">Weapon Min:</label>
                    <span id="weapon_min" style="padding-right:2em;">
                      <input type="hidden" name="weapon_min" value="{{ minw }}" />
                      <span>{{ minw|floatformat:"0" }}</span>
                    </span>
                    <label for="weapon_max">Weapon Max:</label>
                    <span id="weapon_max" style="padding-right:2em;">
                      <input type="hidden" name="weapon_max" value="{{ maxw }}" />
                      <span>{{ maxw|floatformat:"0" }}</span>
                    </span>
                    <label for="weapon_speed">Weapon Speed:</label>
                    <span id="weapon_speed">
                      <input type="hidden" name="weapon_speed" value="{{ speedw }}" />
                      <span>{{ speedw }}</span>
                    </span>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="subtabs-rotation">
      <h3>Talents/Race</h3>
      <table class="table">
        {{ meta.as_table }}
      </table>
      <h3>Beast Master</h3>
      <table class="table">
        {{ bmo.as_table }}
      </table>
      <h3>Marksmanship</h3>
      <table class="table">
        {{ mmo.as_table }}
      </table>
      <h3>Survival</h3>
      <table class="table">
        {{ svo.as_table }}
      </table>
      <h3>AoE</h3>
      <table class="table">
        {{ aeo.as_table }}
      </table>
    </div>
  </div>

  <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-screenshot"></span>
    Calculate
  </button>
</form>
<script type="text/javascript">
  var hform = $('#hunter-form'),
      wrapper = $('#form-wrapper');
  wrapper.css('height',hform.height());
  wrapper.css('width',hform.width());
  $(window).resize(function() {
    wrapper.css('height',hform.height());
    wrapper.css('width',hform.width());
  })
</script>
<br/>
<br/>

<div class="modal fade" id="api_fetch" tabindex="-1" role="dialog" aria-labelledby="ArmoryFetch" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Armory Import</h4>
      </div>
      <form action="{% url 'hunter:calc' %}" method="POST">
        <div class="modal-body">
          {{ armory_form.as_p }}
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="equip_help" tabindex="-1" role="dialog" aria-labelledby="EquipHelp" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">What Do These Options Mean?</h4>
      </div>
      <div class="modal-body">
        <p>This page is designed with typical Warlords of Draenor gear in mind. Some of these options/toggles can be used on Mists of Pandaria
           gear in this form, but it makes no sense to do so. Adapting this form to accomodate both MoP and WoD gear would over
           complicate it so I opted to focus just on WoD. This means the following:</p>
        <ul>
          <li>Normal, heroic, and mythic versions of gear actually has the same item id, so we can't go by name/id alone!</li>
          <li>Don't use the heroic/mythic or warforged toggles for Mists of Pandaria gear. These have separate ids, so we use that. This feature is meant
            for Warlords of Draenor only</li>
          <li>Once an item is selected, you should choose a normal, heroic, or mythic version if applicable. Normal is the default
            so if it's something like quest gear you can just leave this value unchanged</li>
          <li>Warforged gear is also an option for raid gear, again using the same id.</li>
          <li>A socket is another possible attribute for raid gear, again using the same id. Pre-WoD gear with multiple sockets is not supported</li>
          <li>Tertiary attributes are not shown because they have no DPS bearing (same with stamina).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#detailsToggler').click(function() {
    $('.details').toggle();
  });

  function item_switch(slot) {
    val = $('#id_'+slot).val();
    var base_media_url = 'http://us.media.blizzard.com/wow/icons/18/';
    var gear_table_val = val && gear_table[val.replace("'","\'")] || "";

    // update contexts
    $('#id_'+slot+'_difficulty option').each(function() {
      $(this).remove();
    });
    $(gear_table_val.contextOpts).each(function() {
      var opt = $(this);
      $('#id_'+slot+'_difficulty').append($('<option value="'+opt[0]+'">'+opt[1]+'</option>'))
    });
    var context = $('#id_'+slot+'_difficulty').val()

    var stats = new Array("agility","crit","haste","mastery","multistrike","versatility")
    for (i=0;i<=stats.length;i++) {
      if (gear_table_val) {
        $('#'+slot+'_'+stats[i]+' span').html(gear_table_val.contexts[context][stats[i]]);
        $('#'+slot+'_'+stats[i]+' input').val(gear_table_val.contexts[context][stats[i]]);
        $('#icon_'+slot).attr('src',base_media_url+gear_table_val['icon']+'.jpg');
      }
      else {
        $('#'+slot+'_'+stats[i]+' span').html("0");
        $('#'+slot+'_'+stats[i]+' input').val(0);
      }
    }

    // weapon stats
    if (slot == "weapon") {
      $('#weapon_min span').html(Math.ceil(gear_table_val.contexts[context]['weapon_min']))
      $('#weapon_min input').val(gear_table_val['weapon_min'])
      $('#weapon_max span').html(Math.ceil(gear_table_val.contexts[context]['weapon_max']))
      $('#weapon_max input').val(gear_table_val['weapon_max'])
      $('#weapon_speed span').html(Math.ceil(gear_table_val.contexts[context]['weapon_speed']))
      $('#weapon_speed input').val(gear_table_val.contexts[context]['weapon_speed'])
    }

    // zone and source
    if (gear_table) {
      $('#'+slot+'_source span').html(gear_table_val['source']);
      $('#'+slot+'_zone span').html(gear_table_val['zone']);
    }
    else {
      $('#'+slot+'_source span').html("");
      $('#'+slot+'_zone span').html("");
    }

    difficulty_switch(slot);
  };

  function difficulty_switch(slot) {
    var val = $('#id_'+slot+'_difficulty'),
        warforged = $('#id_'+slot+'_warforged').is(':checked'),
        selected_gear = $('#id_'+slot).val(),
        gear_table_val = selected_gear && gear_table[selected_gear.replace("'","\'")] || "";
    factor = warforged ? Math.pow(1.15,6/15) : 1
    var context = $('#id_'+slot+'_difficulty').val()

    ilvl = gear_table_val.contexts[context]['ilvl']
    ilvl = warforged ? ilvl + 6 : ilvl
    $('#'+slot+'_ilvl').html(ilvl);
    var stats = new Array("agility","crit","haste","mastery","multistrike","versatility");
    $.each(stats, function(index, stat) {
      if (selected_gear) {
        $('#'+slot+'_'+stat+' span').html(Math.ceil(gear_table_val.contexts[context][stat]*factor));
        $('#'+slot+'_'+stat+' input').val(Math.ceil(gear_table_val.contexts[context][stat]*factor));
      }
    });
    if (slot == "weapon") {
      $('#weapon_min span').html(Math.ceil(gear_table_val.contexts[context]['weapon_min']*factor))
      $('#weapon_min input').val(gear_table_val.contexts[context]['weapon_min']*factor)
      $('#weapon_max span').html(Math.ceil(gear_table_val.contexts[context]['weapon_max']*factor))
      $('#weapon_max input').val(gear_table_val.contexts[context]['weapon_max']*factor)
    }
  }

  // set up onchange actions for items and difficulty toggles, and initialize
  var slots = Array("weapon","head","neck","shoulders","back","chest","wrists","hands","waist","legs","feet","ring1","ring2","trinket1","trinket2");
  $.each(slots, function(slot) {
    $('#id_'+slots[slot]).change(function() {
      var $this = $(this);
      item_switch(slots[slot]);
    })
    $('#id_'+slots[slot]+'_difficulty').change(function() {
      var $this = $(this);
      var warforged = $('#id_'+slots[slot]+'_warforged').is(':checked');
      difficulty_switch(slots[slot]);
    })
    $('#id_'+slots[slot]+'_warforged').change(function() {
      var $this = $('#id_'+slots[slot]+'_difficulty');
      var warforged = $('#id_'+slots[slot]+'_warforged').is(':checked');
      difficulty_switch(slots[slot]);
    })
    //item_switch(slots[slot]);
  });

  var gear_table,
      equipped;
  $.getJSON("{% url "hunter:gear_table" %}", function(data) {
    gear_table = data;
  }).done(function() {
    equipped = {{ equipped|safe }};

    // put our equipped gear into gear_table if not already there
    for (i=0;i<equipped.length;i++) {
      var $name = equipped[i]['name'];
      var $id = equipped[i]['id'];
      if (!($id in gear_table)) {
        console.log('Could not find: ' + $id)
        gear_table[equipped[i]['id']] = {'contexts':{'armory-import':
                                                    {'agility':equipped[i]['agility'],
                                                     'crit':equipped[i]['crit'],
                                                     'haste':equipped[i]['haste'],
                                                     'mastery':equipped[i]['mastery'],
                                                     'multistrike':equipped[i]['multistrike'],
                                                     'versatility':equipped[i]['versatility'],
                                                     'weapon_min':equipped[i]['minw'],
                                                     'weapon_max':equipped[i]['maxw'],
                                                     'weapon_speed':equipped[i]['speedw'],
                                                     'ilvl':equipped[i]['ilvl']}},
                                           'contextOpts':[['armory-import','Armory Import']],
                                           'socket':'',
                                           'icon':equipped[i]['icon'],
                                           'source':'(equipped)',
                                           'zone':'(unknown)'}
        // add it as an option
        $('#id_'+equipped[i]['slot'])
                        .append($('<option>')
                        .attr('value',equipped[i]['id'])
                        .text(equipped[i]['name']));
      }
      // select it
      $('#id_'+equipped[i]['slot']).val(equipped[i]['id'].toString());
      $('#id_'+equipped[i]['slot']+'_socket').val(equipped[i]['socket']);
      if (equipped[i]['warforged']) {
        $('#id_'+equipped[i]['slot']+'_warforged').prop('checked',true);
      };

    };

    $.each(slots, function(slot) {
      item_switch(slots[slot]);
    });
    $.each(equipped, function(index,value) {
      if (value['context']) {
        if ($.inArray(value['context'],$('#id_'+value['slot']+'_difficulty option').map(function() {return $(this).val();}).get())>= 0) {
          $('#id_'+value['slot']+'_difficulty').val(value['context']);
        }
      }
      if( value['warforged'] == true ) {
        $('#id_'+value['slot']+'_warforged').attr('checked','checked');
      }
      difficulty_switch(value['slot']);
    });

    model_url = "{% url "hunter:model" %}?" + $('#hunter-form').serialize();
    $('#full-model').attr('href',model_url);
    aoemodel_url = "{% url "hunter:aoemodel" %}?" + $('#hunter-form').serialize();
    $('#full-model-aoe').attr('href',aoemodel_url);
    $('#form-wrapper').hide();
  })
</script>