{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="content">
      
      <div id="model">
        <h3>DPS: {{ totals.dps }}</h3>
        <a href="javascript:void(0);" id="cooldown_toggle">toggle cooldowns</a> |
        <a href="javascript:void(0);" id="state_toggle">toggle states</a> |
        <a href="javascript:void(0);" id="condition_toggle">toggle conditions</a>
  
        <table class="table" id="dps_table">
          <tr>
            <th class="headers" colspan="12">General</th>
            <th class="pet" colspan="3">Pet</th>
            <th class="headers cooldowns_header" colspan="{{ meta.cds|length }}">Cooldowns</th>
            <th class="headers states_header" colspan="{{ meta.states|length }}">States</th>
            <th class="headers conditions_header" colspan="{{ meta.conditions|length }}">Conditions</th>
          </tr>
          <tr>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Total time">
                TT
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Starting Focus">
                SF
              </a>
            </th>
            <th>Ability Cast</th>
            <th class="right">Damage</th>
            <th class="right">Time</th>
            <th class="right">
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Focus - passive gains/costs">
                FP
              </a>
            </th>
            <th class="right">
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Focus gains (not including steady/cobra)">
                FG
              </a>
            </th>
            <th class="right focus_active">
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Focus - active gains/costs">
                FA
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Damage modifiers from buffs/debuffs/procs">
                Dmg Mods
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Haste modifiers from buffs/debuffs/procs">
                Time Mods
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Auto shot damage in this time frame">
                Auto
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Exotic munitions damage in this time frame">
                EM
              </a>
            </th>
            <th>
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Pet auto attack damage in this time frame">
                PA
              </a>
            </th>            
            <th class="right">
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Pet focus">
                PF
              </a>
            </th>
            <th class="right">
              <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                title="Pet damage">
                PD
              </a>
            </th>
            {% if debug %}
              {% for cd in meta.cds %}
                <th class="cooldown">{{ cd }}</th>
              {% endfor %}
              {% for state in meta.states %}
                <th class="state">{{ state }}</th>
              {% endfor %}
              {% for condition in meta.conditions %}
                <th class="condition">
                  <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                    title="{{ condition.title }}">
                    {{ condition.id }}
                  </a>
                 </th>
              {% endfor %}
            {% endif %}
          </tr>
          {% for action in single %}
            <tr>
              <td class="totaltime">
                  <a class="step-tooltip" data-toggle="tooltip" data-placement="top"
                    title="{{ action.action.boss_health }} boss health">
                    {{ action.action.totaltime }}
                  </a>
              </td>
              <td>{{ action.action.starting_focus }}</td>
              <td class="ability_rotation {{ action.action.actionid|slugify }}_rotation">{{ action.action.actionid }}</td>
              <td class="right damage">{{ action.action.dmg }}</td>
              <td class="right">{{ action.action.time }}</td>
              <td class="right">{{ action.action.focus_passive }}</td>
              <td class="right">{{ action.action.focus_gains }}</td>
              <td class="right focus_active">{{ action.action.focus_active }}</td>
              <td>{{ action.action.modifiers }}</td>
              <td>{{ action.action.t_modifiers }}</td>
              <td>{{ action.action.auto }}</td>
              <td>{{ action.action.poison }}</td>
              <td>{{ action.action.pet_auto }}</td>
              <td class="right">{{ action.pet.focus }}</td>
              <td class="right">{{ action.pet.damage|stringformat:".02f" }}</td>
              {% if debug %}
                {% for cd in action.cds %}
                  <td class="cooldown">
                      {% if cd.cdtime <= 0 %}
                          ready | {{ cd.actionid }}
                      {% else %}
                        {{ cd.cdtime|stringformat:".02f" }}
                      {% endif %}
                  </td>
                {% endfor %}
                {% for state in action.states %}
                  <td class="state">
                    {{ state.tooltip }} | {{ state.active }}
                  </td>
                {% endfor %}
                {% for condition in action.conditions %}
                  <td class="condition">
                    {{ condition }}
                  </td>
                {% endfor %}
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>

      <script type="text/javascript">
        $('#cooldown_toggle').click(function () {
          $('.cooldown').toggle();
          $('.cooldowns_header').toggle();
        });
        $('#state_toggle').click(function () {
          $('.state').toggle();
          $('.states_header').toggle();
        });
        $('#condition_toggle').click(function () {
          $('.condition').toggle();
          $('.conditions_header').toggle();
        });
      </script>
  </body>
{% endblock %}