{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <h1>Change Log</h1>
    
    <h3>30 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Added js to rename Adaptibility/Lone Wolf</li>
      <li class="list-group-item">Fixed Dire Beast to use versatility</li>
      <li class="list-group-item">Added behavior for Empowered Basic Attacks</li>
      <li class="list-group-item">Added about page</li>
      <li class="list-group-item">Added FAQ</li>
      <li class="list-group-item">Fixed armor mitigation display bug</li>
    </ul>
  
    <h3>29 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">log init</li>
    </ul>
  </div>
{% endblock %}