{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <h1>Change Log</h1>
  
    <h3>7 August 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Focusing Shot - AP coefficient changed from 100% to 120%</li>
      <li class="list-group-item">Multi-Shot - Bombardment fixed to reduce focus cost by 25 (was 20 before today's patch, but not working here)</li>
      <li class="list-group-item">Steady Shot - AP coefficient has 20% Draenor Perk baked in</li>
      <li class="list-group-item">Cobra Shot - AP coefficient has 20% Draenor Perk baked in</li>
      <li class="list-group-item">Arcane Shot - AP coefficient has 20% Draenor Perk baked in</li>
      <li class="list-group-item">Kill Command - AP coefficient has 20% Draenor Perk baked in</li>
      <li class="list-group-item">Aimed Shot - AP coefficient has 20% Draenor Perk baked in</li>
      <li class="list-group-item">Black Arrow - AP coefficient has 20% Draenor Perk baked in</li>
    </ul>
  
    <h3>5 August 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Updated Poisoned Ammo to 6% AP per tick (48% total)</li>
      <li class="list-group-item">Added special conditions for SV and BM usage of Arcane Shot</li>
      <li class="list-group-item">Stat scaling now in increments of 100</li>
    </ul>
  
    <h3>2 August 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Fixed an issue with pet basic attacks sometimes not being used</li>
      <li class="list-group-item">Added pet abilities to Spells tab</li>
      <li class="list-group-item">Added Cobra Strikes</li>
      <li class="list-group-item">Pets were inaccurately not able to crit</li>
      <li class="list-group-item">Added AJAX load for scaling</li>
    </ul>
  
    <h3>31 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Fixed an issue with Bestial Wrath incorrectly active at the start</li>
      <li class="list-group-item">Fixed an issue with Serpent Sting</li>
    </ul>
    
    <h3>30 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Added js to rename Adaptibility/Lone Wolf</li>
      <li class="list-group-item">Fixed Dire Beast to use versatility</li>
      <li class="list-group-item">Added behavior for Empowered Basic Attacks</li>
      <li class="list-group-item">Added about page</li>
      <li class="list-group-item">Added FAQ</li>
      <li class="list-group-item">Fixed armor mitigation display bug</li>
    </ul>
  
    <h3>29 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">log init</li>
    </ul>
  </div>
{% endblock %}