{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <h1>Change Log</h1>
  
    <h3>2 August 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Fixed an issue with pet basic attacks sometimes not being used</li>
      <li class="list-group-item">Added pet abilities to Spells tab</li>
      <li class="list-group-item">Added Cobra Strikes</li>
      <li class="list-group-item">Pets were inaccurately not able to crit</li>
      <li class="list-group-item">Added AJAX load for scaling</li>
    </ul>
  
    <h3>31 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Fixed an issue with Bestial Wrath incorrectly active at the start</li>
      <li class="list-group-item">Fixed an issue with Serpent Sting</li>
    </ul>
    
    <h3>30 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">Added js to rename Adaptibility/Lone Wolf</li>
      <li class="list-group-item">Fixed Dire Beast to use versatility</li>
      <li class="list-group-item">Added behavior for Empowered Basic Attacks</li>
      <li class="list-group-item">Added about page</li>
      <li class="list-group-item">Added FAQ</li>
      <li class="list-group-item">Fixed armor mitigation display bug</li>
    </ul>
  
    <h3>29 July 2014</h3>
    <ul class="list-group">
      <li class="list-group-item">log init</li>
    </ul>
  </div>
{% endblock %}