{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    To do:
    <ul>
      <li>Do a pass on all spells</li>
      <li>Aimed Shot draenor perk</li>
      <li>ITEMS!</li>
      <li>Procs, especially trinkets</li>
      <li>Potions</li>
      <li>Touch of the Grave</li>
      <li>Options section on input tab</li>
      <li>Fix CDs on spells - KC taking 7s?</li>
      <li>How to do latency?</li>
      <li>Scaling stats</li>
      <li>Save last dps calc as hidden form value</li>
    </ul>
{% endblock %}