#sub-banner {
  height: 25px;
  background: transparent url(inv_misc_ammo_arrow_01.jpg) repeat-x;
  margin: 40px 40px 0 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #ABD473;
}

#calc-tabs {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
  padding: 1px;
  border-bottom-color: #ffffff;
}

#calc-tabs a {
  color: #ABD473;
}

#calc-tabs .active a {
  color: #000000;
}

.tab-content div {
  margin-top: 3px;
}

.panel-hunter .panel-heading {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
  color: #ceff8a;
  text-shadow: none;
}

.panel-hunter .panel-body {
  border: 1px solid #8AAB5D;
}

.panel-hunter .panel-body {
  margin-top: -1px;
}

.panel-hunter th {
  width: 35%;
}

.panel-hunter td {
  text-align: right;
  border-left: 1px solid #DDDDDD;
}

.btn-hunter {
  background-image: linear-gradient(to bottom, #CEFF8A 0px, #8AAB5D 100%);
  background-repeat: repeat-x;
  border-color: #CEFF8A;
}

.tooltip-inner {
  max-width: 1000px;
}

#vertical-banner {
  margin-top: 40px;
}

#vertical-banner img {
  margin:auto;
  display:block;
}

#dps_table td {
  white-space:nowrap;
}

#dps_table .damage,
#dps_table .totaltime,
#dps_table .focus_active,
.totals_column {
  text-align: right;
}

#dps_table .cooldown,
#dps_table .state,
#dps_table .condition,
#dps_table th.headers,
#dps_table th.conditions_header {
  text-align: center;
}

#dps_table th, #dps_table td {
  text-align: center;
}

#dps_table th.right,
#dps_table td.right, {
  text-align: right;
}

.conditions_header, .condition,
.states_header, .state,
.cooldowns_header, .cooldown {
  display: none;
}

#dps_table th.headers {
  border-right: 1px solid #DDDDDD;
}

td.ability_rotation {
  vertical-align: middle;
  text-align: center;
}

td.kill-command_rotation {  
  background: linear-gradient(#BE593D, #F8C487, #BE593D);
}

td.bestial-wrath_rotation {
  background-image: linear-gradient(#C49299, #C20D10);
  color: white;
}

td.arcane-shot_rotation {
  background-image: linear-gradient(#CCD35E, #AD8E41);
}

td.cobra-shot_rotation {
  background-image: linear-gradient(#90E71F, #244404);
}

td.rapid-fire_rotation {
  background-image: linear-gradient(#9D0000, #6D0204);
  color: white;
}

td.steady-shot_rotation {
  background-image: linear-gradient(#FFFFFF, #C69216);
}

td.glaive-toss_rotation {
  background-image: linear-gradient(#74BED1, #6A6246);
}

td.focus-fire_rotation {
  background-image: linear-gradient(#FFEA1B, #AD8F2B);
}

td.powershot_rotation {
  background-image: linear-gradient(#F0EE00, #FF7C29);
}

td.barrage_rotation {
  background-image: linear-gradient(#8CE3FF, #106394);
}

td.chimera-shot_rotation {
  background-image: linear-gradient(#CA30DB, #879CA9);
}

td.aimed-shot_rotation {
  background-image: linear-gradient(#CECBB8, #A19178);
}

td.black-arrow_rotation {
  background-image: linear-gradient(#6B0A9D, #000000, #6B0A9D);
  color: white;
}

td.explosive-shot_rotation {
  background-image: linear-gradient(#8A2319, #D38221);
}

td.dire-beast_rotation {
  background-image: linear-gradient(#BE0404, #436E7E);
  color: white;
}

td.fervor_rotation {
  background-image: linear-gradient(#666BE7, #563092);
  color: white;
}

td.explosive-trap_rotation {
  background-image: linear-gradient(#DF8537, #440400);
  color: white;
}

td.multi-shot_rotation {
  background-image: linear-gradient(#A45A7D, #817068);
  color: white;
}

td.focusing-shot_rotation {
  background-image: linear-gradient(#BC1817, #801D22);
  color: white;
}

td.kill-shot_rotation {
  background-image: linear-gradient(#FF0000, #DBEAF9, #FF0000);
}

td.stampede_rotation {
  background-image: linear-gradient(#D1A000, #8D7000);
}

td.a-murder-of-crows_rotation {
  background-image: linear-gradient(#7BC6CD, #527387);
}
  

#footer {
  border-top: 1px solid #aaaaaa;
}
.container .credit {
  margin: 20px 0;
  text-align: center;
}
.muted {
  font-size: 85%;
  color: #999999;
}