.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #ABD473;
}

#calc-tabs {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
  padding: 1px;
  border-bottom-color: #ffffff;
}

#calc-tabs a {
  color: #ABD473;
}

#calc-tabs .active a {
  color: #000000;
}

.tab-content div {
  margin-top: 3px;
}

.panel-hunter .panel-heading {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
  color: #ceff8a;
  text-shadow: none;
}

.panel-hunter .panel-body {
  border: 1px solid #8AAB5D;
}

.panel-hunter .panel-body {
  margin-top: -1px;
}

.panel-hunter th {
  width: 35%;
}

.panel-hunter td {
  text-align: right;
  border-left: 1px solid #DDDDDD;
}

.btn-hunter {
  background-image: linear-gradient(to bottom, #CEFF8A 0px, #8AAB5D 100%);
  background-repeat: repeat-x;
  border-color: #CEFF8A;
}

.tooltip-inner {
  max-width: 1000px;
}

#main-body {
  margin-top: 40px;
}

#vertical-banner {
  margin-top: 40px;
}

#vertical-banner img {
  margin:auto;
  display:block;
}

#dps_table td {
  white-space:nowrap;
}

#dps_table .damage,
#dps_table .totaltime {
  text-align: right;
}

#dps_table .cooldown, .state, .condition {
  text-align: center;
}

td.ability_rotation {
  vertical-align: middle;
}

td.kill-command_rotation {  
  background: linear-gradient(#BE593D, #F8C487, #BE593D);
}

td.bestial-wrath_rotation {
  background-image: linear-gradient(#C49299, #C20D10);
  color: white;
}

td.arcane-shot_rotation {
  background-image: linear-gradient(#CCD35E, #AD8E41);
}

#footer {
  border-top: 1px solid #aaaaaa;
}
.container .credit {
  margin: 20px 0;
  text-align: center;
}
.muted {
  font-size: 85%;
  color: #999999;
}

#totals_table {
  width: 300px;
}